@media screen and (max-width:768px){

    /* nav header */
    nav .hamburger{
        display: block;
    }
    nav>ul{
        display: none;
    }

    /* hero section */
    .hero > div> form{
        flex-direction: column ;
    }
}