@media screen and (max-width:768px){

    /* nav header */
    nav .hamburger{
        display: block;
    }
    nav>ul{
        display: none;
    }

    /* hero section */
    .hero > div> form{
        flex-direction: column ;
    }

    /* destination section */
    .destination-pics div{
    grid-column: span 6 !important;
    }
    /* the keyword important is necessary for prioritizing before other styles  */
    .destination-pics img{
        height: 170px;
    }
    .container{
        margin-left: 20px;
        margin-right: 20px;
    }
    .deal-banner{
        border-radius: 15px;
    }
}